{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block body %}


<!-- Starting Form: -->

<div class='container my-4'>
  <h1 class="text-center" style="
        background-color: blanchedalmond;
        border-radius: 11px;
        
    "> Update Your Todo's</h1>
  <form action="/update/{{todo.sno}}" method="POST" style="
        background-color: blanchedalmond;
        border-radius: 11px;
        padding: 10px;
    ">
    <div class="form-group">
      <label for="title">Your Todo's Title</label>
      <input type="text" class="form-control" id="title" name="title" value="{{todo.title}}" aria-describedby="emailHelp"
        placeholder="Enter your Todo's Title">

    </div>
    <div class="form-group">
      <label for="desc">Todo's Description</label>
      <input type="text" class="form-control" id="desc" name="desc" value="{{todo.desc}}" placeholder="Enter your Todo's Description">
    </div>

    <!-- <button type="submit" class="btn btn-danger">Submit</button> -->
    <button type="submit" class="btn btn-outline-danger">Update</button>
  </form>
</div>

<!-- Starting Table: -->



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock body %}